@using sitecoreblazor.SitecoreModels;
@using System.Reflection

@if (Components != null && Components.Any())
{
    @foreach (var component in Components)
    {
        Type componentType = GetType(component.componentName);
        if (componentType != null)
        {
            var parameters = new Dictionary<string, object> { { "Fields", component.fields } };
            <DynamicComponent Type="componentType" Parameters="parameters" />
        }
    }
}
else
{
    <p>Loading or no components available...</p>
}

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public Dictionary<string, List<Component>> RouteData { get; set; }

    public RenderFragment ChildContent { get; set; }
    public List<Component> Components { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (RouteData != null)
        {
            Components = RouteData.Where(x => x.Key == Name).FirstOrDefault().Value;
        }
        else
        {
            Components = null;
        }
    }
    private Type GetType(string parameter)
    {
        parameter = ConvertToPascalCase(parameter);
        var assembly = Assembly.GetExecutingAssembly();
        return assembly.GetTypes()
                       .FirstOrDefault(t => t.Name == parameter);
    }

    public static string ConvertToPascalCase(string input)
    {
        string[] words = input.Split(' ', StringSplitOptions.RemoveEmptyEntries);

        for (int i = 0; i < words.Length; i++)
        {
            if (words[i].Length > 0)
            {
                words[i] = char.ToUpper(words[i][0]) + words[i].Substring(1);
            }
        }

        return string.Join(string.Empty, words);
    }

}

