@using Sitecore_Blazor.Helper
@using Sitecore_Blazor.Models.Shared

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" href="/home">
    <strong>@SiteTextModel.SiteText.Value.Text</strong>
</a>

@code {
    [Parameter]
    public Dictionary<string, object> Fields { get; set; }

    public SiteTextModel SiteTextModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            SiteTextModel = FieldHelper.MapModel<SiteTextModel>(Fields);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during deserialization: {ex.Message}");
        }
    }
}
